navbar-inverse
{
 background-color: #e69900
 }


body {
     font-size: 14px;
     font-family: 'arial', sans-serif
     }



p    {
     padding-left: 15px;
     padding-right: 15px;
     padding-top:10px;
     padding-bottom:2px
     }
.td-limit {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.table {
        width: 100%

    }
.table td {
    padding: 7px;
    font-size: 60%

}

.section.sidebar {
  top: 55px;
  border-bottom: 10px solid #ececec;
  border-left: 10px solid #ececec;
  background-color: rgba(255, 255, 255, 1);
}

